{% extends "index.html" %} {% block main %}

<section id="info" class="container">
    <p><b>Hi admiral!</b> Click on the cell to take the first shot.</p>
</section>

<section id="game-board" class="container">
    <div class="board-row">
        <div class="board-cell board-header"></div>
        {% for column in headers.columns %}
        <div class="board-cell board-header">{{ column }}</div>
        {% endfor %}
    </div>
    {% for row in range(board_size) %}
    <div class="board-row">
        <div class="board-cell board-header">{{ headers.rows[row] }}</div>
        {% for col in range(board_size) %}
        <div id="{{ headers.columns[col] }}{{ headers.rows[row] }}" class="board-cell"></div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

{% endblock %} {% block scripts %}

<script src="{{url_for('static', filename='js/sendCellIdToPython.js')}}"></script>

{% endblock%}
