{% extends "index.html" %} {% block contnet %}

<section id="about-game" class="container">
    <div class="information">
        <h2>Rules</h2>
        <p>Hello admiral! Your opponents have taken the coast. You must go to sea. If they manage to deposit the units, our country will suffer huge losses. For the mission to succeed, you must sink all enemy fleets. Even the smallest enemy troops can cause a lot of confusion, so be careful.</p>
        <p>Your task will be to shoot down the enemy fleet blindly. To take a shot you will be asked to enter the coordinates of the shot (e.g. A5 or J10). For your convenience, you will have your opponent's board in front of you.</p>
        <h2>Difficulty levels</h2>
        <p>Depending on the difficulty level, your gameplay will be more or less challenging. Remember to choose your difficulty level carefully. When you choose:</p>
        <ul>
            <li><b>Easy</b>: enemies get to the coast after 80 turns.</li>
            <li><b>Medium</b>: enemies get to the coast after 60 turns.</li>
            <li><b>Hard</b>: enemies get to the coast after 40 turns.</li>
        </ul>
        <h2>Author note</h2>
        <p>Please note that the project is still in development. Any inconvenience and ideas for improvement can be reported to the contact address: <a href="mailto:dkurowski.kontakt@gmail.com">dkurowski.kontakt[at]gmail.com</a>.</p>
    </div>
    <div class="ship">
        <a href="https://www.freepik.com/free-vector/pirate-ship-galleon-before-after-sea-battle-fight-sailboats-with-cannon-fire-vector-cartoon-set-wooden-ships-with-folded-sails-with-black-flag-broken-after-wreck-attack_24325871.htm#query=battleship%20game&position=49&from_view=search&track=ais" target="_blank"><img src="{{url_for('static', filename='./images/battleship.png')}}" alt="Ship" title="Image by upklyak on Freepik"></a>
        <a href="{{url_for('views.game')}}"><button>Let's play</button></a>
    </div>
</section>
<section id="about-author" class="container">
    <div class="banner">
        <img src="{{url_for('static', filename='images/baner_page.jpg')}}" alt="banner">
    </div>
    <div class="information">
        <h2>About me</h2>
        <p>I first discovered my passion for graphic design back in 2017, during my high school years. Since then, I have been using my skills to help individuals and businesses effectively communicate their messages through marketing. My main focus is on understanding the impact of different advertising techniques on clients and tailoring my designs accordingly.</p>
        <p>Here are a few examples of my previous work:</p>
        <ul>
            <li>During my time at addesigner.pl as a graphic designer, I collaborated with a printing house and design team to enhance the visual identities of small and medium-sized businesses in the local community.</li>
            <li>As an activist in local governments, I gained valuable experience in identifying and resolving the issues faced by local communities.</li>
            <li>Through my freelance graphic design work, I have assisted clients in creating eye-catching social media graphics and developing consistent visual identities to better connect with their target audience.</li>
        </ul>
        <p>One aspect of graphic design that particularly excites me is transforming data into visual representations that are easy for business owners of all sizes to understand.</p>
        <p>I'm a people person, and always enjoy connecting with others. If you have an interest in digital marketing, feel free to reach out to me at <a href="mailto:dkurowski.kontakt@gmail.com">dkurowski.kontakt[at]gmail.com</a>.</p>
        <p><b>Fun fact:</b> In my free time, I like to explore the field of cognitive science and occasionally indulge in a game of chess. Also, I have a cat.</p>
    </div>
    <div class="picture">
        <img src="{{url_for('static', filename='images/avatar.png')}}" alt="Dawid Kurowski">
        <div class="socials">
            <a href="https://www.facebook.com/profile.php?id=100086484336271" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/d_kurovsky/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/dawid-kurowski/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://twitter.com/dkurovsky" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://github.com/DeeKay29" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</section>

{% endblock %}