<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="keywords"
            content="HTML, CSS, Python, Battleship Game, Battleship, Game, Battleship Game in Python"
        />
        <meta
            name="description"
            content="This website provides a Battleship Game programmed in Python that will provide you with hours of entertainment. As a player, you'll assume the role of a fleet commander whose objective is to destroy all enemy ships before the clock runs out. The game features an uncomplicated yet user-friendly interface."
        />
        <meta name="author" content="Dawid Kurowski" />
        <meta name="copyright" content="@DeeKay29 - https://github.com/DeeKay29" />
        <meta name="robots" content="noindex,nofollow" />
        <meta http-equiv="cache-control" content="no-cache" />

        <title>{{siteName}} | {{subPageName}}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/style.css')}}" />
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('views.home')}}" class="logo">
                        <img src="{{url_for('static', filename='./images/logo_white_wb.png')}}" alt="DK Logo" />
                        <span class="nav-item">DeeKay29</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/DeeKay29" target="_blank">
                        <i class="fa-brands fa-github"></i>
                        <span class="nav-item">GitHub</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/DeeKay29/BattleshipGame" target="_blank">
                        <i class="fa-solid fa-diagram-project"></i>
                        <span class="nav-item">Source code</span>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('views.home', _anchor='about-author')}}">
                        <i class="fa-solid fa-person-digging"></i>
                        <span class="nav-item">About me</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-gear"></i>
                        <span class="nav-item">Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
        <header>
            <div class="container">
                <h1><span id="typewriter"></span><span id="cursor">|</span></h1>
                <a href="https://github.com/DeeKay29" target="_blank"><span>by @DeeKay29</span></a>
            </div>
        </header>
        <main>{% block main %} {% endblock %}</main>
        <footer>
            <div class="container">
                <p>
                    &copy; 2023 Copyright
                    <a href="https://github.com/DeeKay29" target="_blank">@DeeKay29</a>
                </p>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="{{url_for('static', filename='js/writtenHeading.js')}}"></script>
        {% block scripts %} {% endblock%}
    </body>
</html>
